a {
    text-decoration: none;  /* for no underlining */ 
    color: white;
}

a:hover,
a:active{
   color : lightslategray; 
}

.navigation-items{
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
}