.welcome{
    text-align: center;
}
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('assets/images/images4.jpg');
    background-size: cover;
  }
.flower-container{
    margin: 20px;
}  