<div class = "flower-container" fxLayoutGap="20px" fxLayout="column">
    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="20px">
    <mat-card class="example-card">
            <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>Pink Roses Bouquet</mat-card-title>
        <mat-card-subtitle>Flower category</mat-card-subtitle> 
          </mat-card-header>
          <img mat-card-image src="assets/images/img2.jpg" alt="Photo of pink roses">
    <mat-card-content>
        <p>The collection of fresh and beautiful pink roses for your special ones.These roses are combined into a bouquet very efficiently , perfect for making ur special day even more special.</p>
        </mat-card-content> 
    </mat-card> 


    <mat-card class="example-card">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>Tulips bouquet</mat-card-title>
            <mat-card-subtitle>Flower category</mat-card-subtitle>
          </mat-card-header> 
          <img mat-card-image src="assets/images/img3.jpg" alt="Photo of pink tulips">
    <mat-card-content>
        <p>The collection of fresh and beautiful pink tulips for your special ones.These tulips are combined into a bouquet very efficiently , perfect for making ur special day even more special.</p>
        </mat-card-content> 
    </mat-card>
    
    <mat-card class="example-card">
            <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>Red Tulips Bouquet</mat-card-title>
                    <mat-card-subtitle>Flower Category</mat-card-subtitle>
                  </mat-card-header>  
                  <img mat-card-image src="assets/images/images1.jpg" alt="Photo of red tulips"> 
      <mat-card-content>
          <p>The collection of fresh and beautiful red tulips for your special ones.These tulips are combined into a bouquet very efficiently , perfect for making ur special day even more special.</p>
          </mat-card-content> 
      </mat-card> 
    
      <mat-card class="example-card"> 
            <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title>Mixed Tulips Bouquet</mat-card-title>
                    <mat-card-subtitle>Flower Category</mat-card-subtitle>
                  </mat-card-header>  
                   <img mat-card-image src="assets/images/images.jpg" alt="Photo of mixed tulips">
      <mat-card-content>
         
              <p>The collection of fresh and beautiful mixed tulips for your special ones.These tulipss are combined into a bouquet very efficiently, perfect for making ur special day even more special.</p>
          </mat-card-content> 
      </mat-card> 
    </div>
    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="20px">
        <mat-card class="example-card">
                <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>Mixed Liles and Roses Bouquet</mat-card-title>
                        <mat-card-subtitle>Flower Category</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="assets/images/images12.jpg" alt="Photo of lilies and roses">
        <mat-card-content>
            <p>The collection of fresh and beautiful lilies and roses for your special ones.These lilies and roses are combined into a bouquet very efficiently , perfect for making ur special day even more special.</p>
            </mat-card-content> 
        </mat-card> 
    
    
        <mat-card class="example-card"> 
                <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>Yellow Roses Bouquet</mat-card-title>
                        <mat-card-subtitle>Flower Category</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="assets/images/image13.jpg" alt="Photo of yellow roses">
        <mat-card-content>
                <p>The collection of fresh and beautiful yellow roses for your special ones.These yellow roses are combined into a bouquet very efficiently , perfect for making ur special day even more special.</p>
            </mat-card-content>
            
          
        </mat-card> 
        <mat-card class="example-card">
                <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>Mixed roses and Tulips Bouquet</mat-card-title>
                        <mat-card-subtitle>Flower Category</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="assets/images/images17.jpg" alt="Photo of roses and tulips">
          <mat-card-content>
                  <p>The collection of fresh and beautiful roses and tulips for your special ones.These roses and tulips are combined into a bouquet very efficiently, perfect for making ur special day even more special.</p>
              </mat-card-content> 
          </mat-card> 
    
          <mat-card class="example-card"> 
                <mat-card-header>
                        <!-- <div mat-card-avatar class="example-header-image"></div> -->
                        <mat-card-title>Blue Orchids</mat-card-title>
                        <mat-card-subtitle>Flower Category</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="assets/images/image16.jpg" alt="Photo of orchids">
          <mat-card-content>
              <p>The collection of fresh and beautiful orchids for your special ones.These orchids are combined into a bouquet very efficiently, perfect for making ur special day even more special.</p>
              </mat-card-content>
              
            
          </mat-card> 
        </div>
        
    
    </div>     
    
    